*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     background-color: #022051;
}

/* Head */
header div.header{
    background: linear-gradient(to right, #15376d, 10%, #021b43);
}
header div.header div{
    display: inline-block;
}
header div.header div.header_1{
    padding: 2.5%;
    padding-right: 60%;
}
header div.header div.header_1 h1{
    font-size: 210%;
    font: sans-serif;
    color: #ffff;
}
header div.header div.header_2{
    padding-left: 25%;
}